{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Сброс пароля</title>
{% endblock head %}


{% block content %}

<div class="content-section" align="left">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border_bottom mb-4">Come In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button type="submit" name="button" class="btn btn-outline-info">Save password</button>
    </div>
  </form>
</div>
{% endblock content %}
